<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/94d8d33acf.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body class="min-h-screen flex flex-col">
    <nav id="navbar" class="sticky top-0" style="z-index:1"></nav>
    
    <div class="flex-grow relative flex flex-col items-center">

        <div class="flex w-full justify-around p-10 items-center">
            <h1 class="uppercase text-7xl font-black ">Our Kits</h1>
           
        </div>
        
        <div id="kits" class="flex flex-col items-center gap-10 p-10"></div>

    </div>

    <footer id="footer" class=""></footer>
    
    <script src="assets/js/loadNavBar.js"></script>
    <script src="assets/js/loadFooter.js"></script>
    <script src="assets/js/products-load.js"></script>
    
</body>
</html>
